@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "League Spartan";
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 4.5rem;
    color: black;
}

.info {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.info .section {
    width: 35vw;
    box-sizing: border-box;
    padding: 5vh 30px;
}

.section:nth-of-type(1) {
    border-right: 2px solid #8b8990;
}
.info .section:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
}
.info .section img {
    height: 8vh;
}

.backdrop,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.circle {
    width: 60vh;
    height: 60vh;
    border-radius: 30vh;
    position: absolute;
}

.red {
    background: radial-gradient(
        50% 50% at 50% 50%,
        #f8d1cb 0%,
        rgba(248, 209, 203, 0) 100%
    );
    transform: translate3d(30vw, 0vh, 0);
}

.yellow {
    background: radial-gradient(
        50% 50% at 50% 50%,
        #fde8cc 0%,
        rgba(253, 232, 204, 0) 100%
    );
    transform: translate3d(40vw, 40vh, 0);
}

.purple {
    background: radial-gradient(
        50% 50% at 50% 50%,
        #e3d6ff 0%,
        rgba(227, 214, 255, 0) 100%
    );
    transform: translate3d(0vw, 50vh, 0);
}

.newsletter {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    flex-wrap: wrap;
    color: #8b8990;
    padding: 10px 30px;
    box-sizing: border-box;
}

.newsletter .text {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    padding: 15px 0;
}

.newsletter form {
    display: flex;
}

.newsletter input {
    background: #f6f3fe;
    border: none;
    padding: 12px 24px;
    margin: 0;
    outline: none;
    font-size: 1rem;
    color: #5d5a64;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.newsletter .submit {
    background: #171321;
    padding: 12px 36px;
    color: white;
    border-radius: 0;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.newsletter .submit:hover {
    background: #473966;
    cursor: pointer;
    border-radius: 5px;
}

@media only screen and (max-width: 1920px) {
    h1 {
        font-size: 3rem;
    }

    .info .section img {
        height: 5vw;
    }
}

@media only screen and (max-width: 900px) {
    .info {
        flex-wrap: wrap-reverse;
        align-items: flex-start;
        transform: translate(-50%, -75%);
    }

    .info .section {
        width: 80vw;
    }

    .info .section:nth-of-type(1) {
        border-right: none;
        text-align: center;
    }

    .info .section:nth-of-type(1) h1 {
        font-size: 1.8rem;
    }

    .info .section:nth-of-type(2) {
        justify-content: center;
    }

    .info .section img {
        height: 5vh;
    }
}

@media only screen and (max-width: 650px) {
    .newsletter input {
        width: 58%;
        padding: 12px 24px;
    }

    .newsletter .submit {
        width: 42%;
    }
}
